<!DOCTYPE html PUBLIC "XSLT-compat">
<html lang="en">
<html>

<head>
	<!-- declaration viewport -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- CSS -->
    <!-- font: Mom's Typewriter by Christoph Mueller -->
    <!-- source: https://www.dafont.com/moms-typewriter.font and http://users.cuci.nl/nonsuch/free.htm-->
    <!-- font: Bebas Neue Book by Ryoichi Tsunekawa -->
    <!-- source: https://www.dafontfree.net/freefonts-bebas-neue-f23175.htm -->
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />

	<title>BUK'S SHOP</title>

    <!-- responsive header from w3school -->

    <div id="header">
        <div id="header-right">
        <a href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        </div>
        <div id="logo">"Find what you love and let it kill you""</div> 
    </div>
	
</head>

<body>

	<div id="welcome">
		WELCOME TO THE FIRST AND UNIQUE BOOKSTORE IN HONOUR OF CHARLES BUKOWSKI
		 <hr class="dashed_line">
	</div>

	<!-- Ghost Buttons with CSS3 created by @mithicher -->
    <!-- https://codepen.io/mithicher/pen/acyfq -->
	<div class="button_cont">
		<ul>
			<li><button class="books" onclick="displayAll()">Display all titles</button></li>
			<li> <button class="books" onclick="displayReleased()">RELEASED TITLES</button></li>
			<li><button class="sales" onclick="displaySales()">SALES</button></li>
			<li><button class="books" onclick="adding()">ADD NEW TITLES</buttoon></li>
            <li><button class="books" onclick="removing();displayAll();">REMOVE TITTLE</buttoon></li>
        </ul>        
    </div>

    <div id="content">
        <!-- content: create divs where you are going to add your xml content ????? -->
        <table id="xmlContent"></table>    

        <!-- create a tableless form to add new titles that will be display by js function-->        
            <div class="form_container">
            <form id="newTitles" enctype="application/json"  action="/post/json" method="post">
                <!-- <form id="newTitles"> -->
                <label>
                     <span>Title</span>
                     <input type="text" class="form_title" name="TITLE">
                </label>
                <label>
                    <span>Year of Release</span>
                    <input type="text" class="form_title" name="YEAR">
                </label>
                <label>
                    <span>Price</span>
                    <input type="text" class="form_title" name="PRICE">
                </label>
                <label>
                    <span>Category</span>
                    <input list="category" class="form_title" name="CATEGORY">
                         <datalist id="category" name="sec_n"> 
                         <!-- <datalist id="category"> -->
                            <option value="Chapbox Collections">
                            <option value="Poetry Collections">
                            <option value="Novels">                            
                        </datalist>
                </label>
                <label>
                     <!-- <input type="submit" class="form_title" onclick="myFunctionAdd()" value="ADD TITLE"> -->
                     <input type="submit" class="form_title" value="ADD TITLE">
                </label>               
                </form>
            </div>
            <!-- to delete item from the list -->
            <form id="delete_container" action="/post/delete" method="post">
                <p class="text-muted">To delete a title from the list, please, click on the required row first</p>
                <button id="delete">DELETE TITLE</button>
            </form >
        <br>
    </div>  
    <hr class="dotted_line">
    <br>    
    <!-- footer col-container with 03 sub containers-->     
	<div class="footer-col-container">    
  <div class="col-left">
    <p><b>STAY CONNECTED</b></p>
            <p>Join our newsletter to receive monthly marketing tips</p>
            <form class="footer">
               <input type="text" value=" Enter your email">
               <input type="submit" value="Sing Up">
            </form>
  </div>

  <div class="col-center">
    <p><b>FOLLOW US</b></p>
                <a href="http://www.facebook.com"><img src="images/fb icon.png" alt= "Facebook" title="Facebook"></a>
                <a href="http://www.instagram.com"><img src="images/insta icon.png" alt="Instagram" title="Instagram"></a>
                <a href="http://twitter.com"><img src="images/twt icon.png" alt="Twitter" title="Twitter"></a>
               <br><br>       
            <span><b>Copyright  IWAB © 2019 Created by Jennifer Magpantay ID 2017325</b></span>   
  </div>

  <div class="col-right">
    <p><b>COME TO VISIT US</b></p>
            <p><b>BUK's SHOP</b> . 00, Lorem ipsum dolor sit amet</p>
            <p>Dublin XX . IRL . +353 00 000.0000</p>
  </div>
</div>

<!-- bootstrapt cor and Javascript -->

<!-- script for the buttons action -->
<script src="js/adding.js"></script>
<!-- <script src="js/myFunctionAdd.js"></script> -->
<script src="js/removing.js"></script>
<script src="js/displayAll.js"></script>
<script src="js/displayReleased.js"></script>
<script src="js/displaySales.js"></script>
<script src="js/jquery.min.js"></script>
<!-- <script src="js/table.js"></script> -->
</body>
</html>