/* adding to the html the background and same font family for all page */

/*adding a new font by @font-face:
1)dowload the font to the css folder
2)create a name for the font
3)add a url (technical name and extension of the font
4)then use the new font family as usual and inside single quotes
*/

@font-face {
    font-family: 'momstypewriterregular';
    src: url(Momt___.ttf);    
}

@font-face {
    font-family: 'myLightFont';
    src: url(BebasNeue-Book.ttf);    
}

html {	
    font-family: Helvetica;	
}

body {
    padding: 20px 0px 10px 20px; /*top, right, bottom, left*/
    background-image: url('paper_texture_02.png');
}

#header {    
    overflow: hidden;   
}

#header a {
  color: black;
  text-align: center;
  text-decoration: none;  
  padding-right: 30px;
  font-size: 20px;
}

#header #logo {
    font-family: 'momstypewriterregular';
	font-size: 6vw;
	text-align: center;
    padding-left: 20px;   
    padding-top: 50px; 
    line-height: auto;    
}

#logo img{
    width: 100%;
}

#header-right, #header a {
    font-size: 1.5vw;
    font-family: 'myLightFont';
    float: right;  
}

#welcome {
    font-family: 'myLightFont';
    font-size: 3vw;
    text-align:center;
    padding-top: 25px;
}

hr.dashed_line{
    border-top: 3px dashed black;
    border-bottom:0;
    width: 90%;
}

hr.dotted_line{
    border-top: 5px dotted black;
    border-bottom:0;
    width: 90%;
}

.button_cont{
    padding-left: 25px;
    overflow: hidden;
}

.books, .sales {
font-family: 'myLightFont';
font-size: 1.5vw;
color: black !important;
text-transform: uppercase;
text-decoration: none;
text-align: center;
background: #ffffff;
padding: 20px;
border: 4px solid #2B2B2B !important;
display: inline-block;
transition: all 0.4s ease 0s;
width: 18%;
height: auto;
}

.books:hover {
color: #ffffff !important;
background: #2B2B2B ;
border-color:#2B2B2B !important;
transition: all 0.4s ease 0s;
}

.sales:hover {
color: #ffffff !important;
background: red ;
border-color:red !important;
transition: all 0.4s ease 0s;
}

li {
    display: inline;
    padding-right: 10px;
}

#content{
    padding-left: 62px;
    padding-top: 20px;
}

#newTitles{
    display: none;
}

#delete_container{
    display: none;
}

.form_container{
    width: 96%;    
    padding-bottom: 20px;  
}

.form_container label {
    width: 75%;
    display: block;
    line-height: 35px;
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-right: 10px;
    
}

.form_container span {
    font-family: 'myLightFont';
    font-size: 1.5vw;
    padding-left: 10px;
    padding-right: 20px;
}

.form_container .form_title{
    font-size: 1.5vw;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80%;  
    float: right;
    border: none;
	border-radius: 4px;	    
}

.form_container input[type=submit] {
    font-family: 'myLightFont';
    font-size: 1.5vw;
    color: white;
    background: #2B2B2B;
}

#delete{
    font-family: 'myLightFont';
    font-size: 1.5vw;
    color: white;
    background: #2B2B2B;
    border: none;
	border-radius: 4px;	
    width: 75%;
    padding-top: 6px;
    padding-bottom: 6px;    
}

table {
    font-size: 1vw;
    border-collapse: collapse;
    width: 97%; 
}

th, td {
  padding: 8px; 
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #2B2B2B;
  color: white;
  
}

tr:hover {background-color:#f5f5f5;}

/* adding css to the class footer and p related to the class */
.footer-col-container, .footer-col-container p {
    font-size: 0.8vw;
    color: white;
    display: table;
    width: 100%;
}

.col-left, .col-center, .col-right {
  display: table-cell;
  padding: 16px;
  background: #2B2B2B;
}

.col-left {
    width: 34%;
    padding-left: 25px;
}

.col-center, .col-right{
    width: 33%;
}

.footer input[type=text]{
    width: 80%;
	border: none;
	border-radius: 4px;	
    box-sizing: border-box;
    resize: vertical;
    align-content: left;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #2B2B2B;
   
}

.footer input[type=submit]{   
	width: 15%;
	border: none;
	border-radius: 4px;	
	color: grey;
    cursor: pointer;
    align-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    float: right;    
}

img {
	width: 6%;	
    height: auto;
    padding-left: 20px;
}

/*when screen get smaller, then resize*/
@media screen and (max-width: 500px) {

/*header*/
  #header a {    
    float: none;
    display: inline ;
    text-align: center;    
    font-size: 3vw;
  } 

  #header #logo {
   font-size: 8vw;
    padding-left: 0;       
}

  #welcome {
      font-size: 4.5vw;
      padding-bottom: 0;
  }

  /*buttons*/
  .books, .sales {
      font-size: 3.5vw;
      padding: 10px;
      margin-left: 35px;
      width: 50%;
      display: block;
  }

  #xmlContent{
    font-size: 3vw;     
}

#content{
    padding-left: 0;
    padding-top: 10px;
}

  /*footer*/
  .footer-col-container, .footer-col-container p {
    font-size: 2.5vw;
    display: block;
    width: 50%;    
}

.form_container span, .form_container input[type=submit] {
    font-size: 2vw;
    display: block;    
}

.footer-col-container{
    width: 100%;
   
}

.col-left, .col-center, .col-right {
  display: block;
  width: 100%;
  padding-left: 10px;
    
}

.selected{
    background-color: #dc3545;
    color: #FFF;
}






